html {
	height: 100%;
}

@font-face { 
	font-family: 'PressStart2P'; 
	src: url('../fonts/PressStart2P.ttf'); 
	font-weight: normal;
	font-style: normal;
} 

body {
	padding-top: 70px;
	height: 100%;
}


.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#listgroup {

    list-style-type: none;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

#jumbo1{
	
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

#jumbo1 h1 {
	color: white;
	font-size: 48px;  
	font-family: "PressStart2P";
	font-weight: bold;
	text-align: center;
}

#jumbo1 p {
	font-size: 20px;
	font-family: "PressStart2P";
	color: white;
	text-align: center;
}

#jumbo1 .container {
	position: relative;
	top: 100px;
}

#jumbo2{
	background-image: url('../img/Space.jpg');
	height: 400px;
	background-repeat: repeat;
	background-size: cover;
}

#jumbo2 h1 {
	color: #fff;
	font-size: 48px;  
	font-family: "PressStart2P";
	font-weight: bold;
	text-align: center;
}

#jumbo2 p {
	font-size: 20px;
	font-family: "PressStart2P";
	color: #fff;
	text-align: center;
}

#jumbo2 .container {
	position: relative;
	top: 100px;
}

#MainPage {
	background-image: url('../img/Space.jpg');
	background-repeat: repeat;
	background-size: cover;
	
}
	.panel-transparent {
        background: rgba(46, 51, 56, 0.5)!important;;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.5)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.5)!important;
    }

#MainPage p {
	color: White;
	text-align: left;
	font-style: italic;
}
#MainPage h1{
	color: White;
	text-align: left;
	font-style: italic;
}
#MainPageBody h1 {
	color: white;
	font-size: 30px;  
	font-family: "PressStart2P";
	font-weight: bold;
	text-align: center;
}

#MainPageBody p {
	font-size: 20px;
	font-family: "PressStart2P";
	color: black;
	text-align: center;
}

#aboutus h1 {
	font-size: 30px;  
	font-family: "PressStart2P";
	font-weight: bold;
	text-align: center;
	font-style: italic;
	color: White;
}

#aboutus h2 {
	
	font-size: 25px;
	font-family: "PressStart2P";
	color: White;
	text-align: center;
	font-style: italic;
}
#aboutus h4 {
	font-size: 20px;
	font-family: "PressStart2P";
	color: White;
	text-align: center;
	font-style: italic;
}
#aboutus p {
	color: White;
	text-align: center;
	font-style: italic;
}
#aboutus li {
	color: White;
	text-align: center;
	font-style: italic;
}

#aboutus {
	height: 400px;
}

#feed h1 {
	text-align: left;

}

#feed img {
	display: block;
}

